html {
  background: url(nolamap.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  font-size: 26pt;
  font-family: Belgrano;
  background: rgba(255,255,255,0.7);
}

#container {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clue {
  padding-bottom: .5em;
}

.haiku {
  font-size: 18pt;
}

.liznat {
  padding-bottom: .5em;
  width: 400px;
}

input[type=text] {
  font-size: .6em;
  width: 8em;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit] {
  font-size: .6em;
  color: white;
  padding: 10px 20px;
  background-color: #c0392b;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 10px;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #E54535;
}