<div class="haiku">
  IN THAT CASE, <br/>we wrote you a haiku!<br/><br/>
  Always so caring<br/>
  Loving and so lovable<br/>
  Has her nipple pierced.<br/><br/>
</div>
<%= image_tag "liznat.jpg", :alt => "we LOVE you", :class => "liznat" %>
<div class="haiku">See you on the 4th.</div>
<div>love, nat & liz</div>