<div class="clue">
  Selfish Katie. You think we'd let you have all of the fun without Scottie? Try again on January 4th when you're back in your city.
</div>

<%= button_to "Ok I'll be the bigger person.", lizandnat_path, method: :get %>